.action{
  
  display: inline-flex;
  align-items: center;
  font-size:20px;
  
  color: #918C8A;
  text-decoration: none;
  margin-right:30px;
  transition: 700ms;
}
.action:hover{
  color: #FFF;
  
}
.action:before{
  width:10px;
  height:10px;
  content: "";
  background-color:#AD3535;
  margin-right:10px;
}