.btn{
  display:inline-block;
  color:#FFF;
  background-image:linear-gradient(#9E101A,#C21926);
  height:50px;
  padding:3px 20px;
  margin-right:0;
  line-height:60px;
  transition: 400ms ease-in-out;
  border-radius:4px;
  text-decoration: none;
  font-size:20px;
}
.btn:hover{
  background-image:linear-gradient(#C21926,#9E101A,);
  transform: scale(1.08);

}